- @stories.each do |story|
  = link_to (image_tag story.image.url(:small)), story
  %h2= link_to story.title, story
  %p
    = story.comments.count
    Comments
  %p
    = story.get_likes.size
    Likes
  %p
    = story.get_dislikes.size
    Dislikes

= link_to "New Story", new_story_path

